{% extends "adminNavbar.html" %}
{% block body %}
    <div class="container mt-5">
        <h2 class="text-center mb-4">Customer Messages</h2>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead class="table-dark">
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Message</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for customerMessage in customerMessages %}
                    <tr>
                        <td>{{ customerMessage.name }}</td>
                        <td>{{ customerMessage.email }}</td>
                        <td>{{ customerMessage.message }}</td>
                        <td>
                            <a href='delete-message/{{customerMessage.id}}' class="btn btn-danger btn-sm"><i class="bi bi-trash-fill"></i> Delete</a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="4" class="text-center">No messages found.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    
   
{% endblock body %}