{% extends "adminNavbar.html" %}
{% block body %}
            {% if messages %}
            <div class="container mt-5">
                {% for message in messages %}
                {% if message.tags == "success" %}
                <div class="alert alert-success alert-dismissible fade show w-50 container" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% else %}
                <div class="alert alert-danger alert-dismissible fade show w-50 container" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            {% endif %}
            <!-- Image Management Section -->
            <div class="container mt-4" id="manage-images">
                <h1>Manage Images</h1>
                <div class="alert alert-info w-50" role="alert">
                 Note: The images for Our Services will be updated from this section
                  </div>
                <hr>
                <!-- Form to Upload Image -->
                <form class="mt-4" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="imageUpload" class="form-label">Upload Image</label>
                        <input type="file" class="form-control w-50" id="imageUpload" name="image">
                    </div>
                    <div class="mb-3">
                        <label for="name" class="form-label">Image Title</label>
                        <input type="name" class="form-control w-50" id="name" placeholder="Image name" name="name">
                      </div>
                    <!-- Select Category -->
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Description</label>
                        <textarea class="form-control w-50" id="exampleFormControlTextarea1" name="description" rows="3"></textarea>
                      </div>

                    <button type="submit" class="btn btn-success">Upload Image</button>
                </form>

                <!-- Table of Uploaded Images -->
                <hr>
                <h3 class="mt-5">Uploaded Images</h3>
                <table class="table table-bordered mt-3">
                    <thead>
                        <tr>
                            <th>Image</th>
                            <th>Category</th>
                            <th>Actions</th>
                        </tr>
                        
                    </thead>
                  
                    <tbody>
                        {% for photo in images %}
                        <tr>
                            <td>
                                <img src="{{ photo.photo.url }}" alt="Sample Image" class="img-thumbnail image-hover">
                            </td>
                            <td>{{photo.description}}</td>
                            <td>
                                <a href='delete-service-image/{{photo.id}}' class="btn btn-danger btn-sm"><i class="bi bi-trash-fill"></i> Delete</a>
                            </td>
                        </tr>
                        {% endfor %}
                        <!-- Add more rows as needed for each uploaded image -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>



    {% endblock body %}
